<%= simple_form_for [:admin, @post] do |f| %>
  <%= f.input :category_id, collection: Category.all, prompt: 'Escolha uma opção' %>
  <%= f.input :title %>
  <%= f.input :text %>
  <%= f.input :image, as: :file %>
  <%= f.button :submit %>
<% end %>