<tr>
  <td><%= post.id %></td>
  <td><%= link_to(post.title, post_path(post)) %></td>
  <td><%= I18n.l(post.created_at, format: '%d/%m %H:%M') %></td>
  <td>
    <%= link_to('Editar', edit_admin_post_path(post), class: 'tiny button') %>
    <%= link_to('Deletar', admin_post_path(post), class: 'tiny button', method: :delete ) %>
  </td>
</tr>
