<h1>Posts</h1>
<%= link_to('Novo post', new_admin_post_path, class: 'button') %>

<table>
  <thead>
    <tr>
      <td>ID</td>
      <td>Título</td>
      <td>Cadastro</td>
      <td>Ações</td>
    </tr>
  </thead>

  <tbody>
    <%= render @posts %>
  </tbody>
</table>