<h1><%= @post.title %></h1>
<%= image_tag(@post.image.thumb('200x200').url) %>
<%= simple_format(@post.text) %>

<div class="comments">
  <h2>Nossos <%= @post.comments.count %> comentários</h2>

  <%= render @post.comments %>

  <%= form_for [@post, @post.comments.new] do |f| %>
    <div>
      <%= f.label :author %>
      <%= f.text_field :author %>
    </div>

    <div>
      <%= f.label :content %>
      <%= f.text_area :content %>
    </div>

    <div class="form-actions">
      <%= f.submit "Enviar" %>
    </div>

  <% end %>
</div>