<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="container">
      <%= render 'application/flash_messages' %>

      <% if user_signed_in? %>
      <p>Olá <strong><%= current_user.email %></strong> - <%= link_to('Sair', destroy_user_session_path, method: :delete) %></p>
      <% end %>

      <%= yield %>
    </div>

  </body>
</html>
